@charset 'utf-8';
$inverse-background: green;
$brand-color: #123;
article {
    background-color: yellow;
    p {
        display: inline-block;
        width: 50ch;
        background-color: red;
        margin: 1em 0;
    }
}

h1 {
    background-color: $inverse-background;
    color: white;
}

.menu-bar {
    background-color: $brand-color;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    a {
        background-color: lighten($brand-color, 40%);
        display: block;
        padding: .5em;
        &:hover {
            background-color: lighten($brand-color, 70%);
        }
    }
}