#avatar_style {
    position: absolute;
    width: 15vh;
    height: 15vh;
    top: 35px;
    left: 15px;
    object-position: 1;
}

.shadow {
    box-shadow: 5px 5px 3px grey;
    border-radius: 75px;
}
