@import 'color';
.menu-bar {
    ul {
        background-color: $brand-color;
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        a {
            background-color: lighten($brand-color, 40%);
            display: block;
            padding: .5em;
            &:hover {
                background-color: lighten($brand-color, 70%);
            }
        }
    }
}
