$inverse-background: #0a0;
$brand-color: #123;
$smart-grey: #404040;
$dark-grey: #252525;
$severity: ( error:#a00, warning: #a50, success: #0a0);
// $error-color: red;
// $warning-color: orange;
// $success-color: green;
// @each $name,
// $color in $severity {
//     #{$name}-color: $color;
// }
